<div class="list_container" style="">
    <ul>
        <li class="fast_filter">
            <form class="ajax fast_filter"><input type="hidden" name="pos" value="0"><input type="hidden" name="aPath"
                                                                                            value="cm9vdA==.aW5mb3JtYXRpb25fc2NoZW1h.dmlld3M="><input
                    type="hidden" name="vPath" value="cm9vdA==.aW5mb3JtYXRpb25fc2NoZW1h.6KeG5Zu+"><input type="hidden"
                                                                                                         name="pos2_name"
                                                                                                         value="views"><input
                    type="hidden" name="pos2_value" value="0"><input class="searchClause" type="text"
                                                                     name="searchClause2"
                                                                     placeholder="Type to filter these, Enter to search all"><span
                    title="清除快速筛选数据">X</span></form>
        </li>
        <li class="new_view italics">
            <div class="block"><i></i><span class="hide pos2_name">views</span><span class="hide pos2_value">0</span>
            </div>
            <div class="block "><a class=" ajax"
                                   href="view_create.php?server=1&amp;db=information_schema&amp;token=3f5376d10e23ed03159edfa501a39d11"><img
                    src="<?=__PUBLIC__.'phpmyadmin4/'?>dot.gif" title="新建" alt="新建" class="icon ic_b_view_add"></a>
            </div>
            <a class="hover_show_full ajax"
               href="#"
               database="<?=$database?>"
               type="createTable"
               title="">新建</a>
            <div class="clearfloat"></div>
        </li>

<?php foreach($result as $key=>$value){?>


<li class="view">
    <div class="block"><i></i> <b></b><a class="expander" href="#"><span class="hide aPath">cm9vdA==.Z292ZXJubWVudA==.dGFibGVz.YmVpamluZ19yZWdpb24=</span><span
            class="hide vPath">cm9vdA==.Z292ZXJubWVudA==.6KGo.YmVpamluZ19yZWdpb24=</span><span class="hide pos">0</span><span
            class="hide pos2_name">tables</span><span class="hide pos2_value">0</span><img
            src="<?=__PUBLIC__.'phpmyadmin4/'?>dot.gif" title="扩展/收起" alt="扩展/收起" class="icon ic_b_plus" type="table" value="<?=$value['Tables_in_name']?>" database="<?=$database?>"></a></div>
    <div class="block "><a
            href="tbl_structure.php?server=1&amp;db=information_schema&amp;table=CHARACTER_SETS&amp;token=3f5376d10e23ed03159edfa501a39d11"><img
            src="<?=__PUBLIC__.'phpmyadmin4/'?>dot.gif" title="视图" alt="视图" class="icon ic_b_props"></a></div>
    <a class="hover_show_full"
       href="sql.php?server=1&amp;db=information_schema&amp;table=CHARACTER_SETS&amp;pos=0&amp;token=3f5376d10e23ed03159edfa501a39d11"
       title=""><?=$value['Tables_in_name']?></a>
    <div class="clearfloat"></div>
</li>

<?php } ?>



    </ul>
</div>